.share {
    float: right;
    padding-right: 20px;
    color: #0da4dd;
    font-size: 16px;
}
.dsc-status.post_option {
    margin: auto;
    display: inline-block;
}
.comment_sec li {
    padding: 0px 5px 0px 5px;
    color: #0da4dd;
}

.comment_content p
{ margin:0px;
}

.comment_sec button
{    margin: 0px;
    padding: 0px;
    font-size: 18px !important;
	
}
.comment {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    padding: 15px;
    box-shadow: 1px 5px 7px 4px #ccc;
}
.inner_com {
   padding: 6px 2px 0px 10px;
    /* background-color: #ccc; */
	border: 1px solid #ccc;
    margin:5px;
    display: inline-block;
    width: 100%;
    box-shadow: 2px 2px 2px #ccc;
}

.label_form label
{
	padding-top: 5px;
    font-size: 15px;
    font-weight: 800;	
}


.user_blog_name span
{
	padding-top: 5px;
    font-size: 15px;
    font-weight: 800;	
}



.label_form {
    float: left;
    width: 20%;
}

.inner_com .form-group {
    display: inline-block;
    width: 100%;
    padding:5px 5px 5px 5px;
    margin: 0px;
}
.input_text_sec
{
	float: left;
    width: 75%;
}



.post_option button.btn.btn-outline-success {
    color: #28a745;
    font-size: 20px;
    border: 1px solid #28a745;
    margin-right: 12px;
    margin-top: 5px;
}

.btn-outline-success:hover
{
    background: none !important;
}
.dsc-status.post_option li {
    float: left;
}

.dsc-status.status_replies {
    display: block;
    cursor: pointer;
}
.dsc-status.status_replies span:after {
    content: "|";
    padding: 0px 5px;
    font-weight: 800;
}
.dsc-status.post_option ul {list-style-type: none; padding: 0px 1px;}


.post_option button {
    color: #0da4dd;
    font-size: 25px;
    background: none;
    border: none;
}



.discussion{

    background: white;
    border-radius: 2px;
    /* border: 1px solid #c6c6c6; */
    margin: 10px 0px;
    box-shadow: 2px 7px 7px 2px #ccc;

}

.profile_post
{
    width: 75%;
    margin: auto;
    display: block;
}

.profile_user {
    background-color: #0da4dd;
    line-height: 25px;
}
span.edit{
    position: absolute;
    right: 21px;
    top: 0px;
}
.heading-time {
    padding: 15px 0px;
}

.description h4 {
   border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.description h5 {
    font-size: 19px;
}

.description span {
    font-weight: 400;
    font-size: 16px;
}

button.location {
    margin: auto;
    display: block;
    width: 100%;
}

table.table.reset td
{ border:none;
}
.form_table button {
    width: 70%;
    margin: auto;
    display: block;
}
.form_table{
	margin: auto;
	padding: 10px;
    border: 1px solid #ccc;
    width: 56%;
	margin-top: 20px;
    box-shadow: -1px 4px 2px 0px #ccc;
}
.reset_lock{
padding: 10px;
    text-align: center;
    font-size: 20px;	
}


i.fa.fa-lock {
    font-size: 50px;
    color: #0da4dd;
}
.custom-file:hover {
    background-color: rgb(13, 164, 221, 0.9);
    height: 76%;
	transition:1s;
    width: 87% !important;
}
.custom-file-input{ height:calc(12.25rem + 9px) !important; width:90%; }
.custom-file{position:absolute !important; height:calc(12.50rem + 9px) !important; width:90% !important; cursor:pointer;}
#demo, #demo1
{
padding:10px;
border:1px solid #ccc;
}
.table td input {
    padding: 9px 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.land_user p
{ color: #636060 !important;
}
.profile{width:100%;}
.edit-list.mod-border{
     width: 75%;
    margin: auto;
    display: block;
}
.land-list.mod-border{
     width: 100%;
    margin: auto;
    display: block;
}
.prof-list.mod-border{
     width: 75%;
    margin: auto;
    display: block;
}
.author-info{
	text-align: center;
    font-size: 14px;
    overflow: hidden;
    color: #0da4dd;
    font-weight: 500;
    padding: 9px !important;
}
.author-info p{
	margin: 0;
	margin-bottom: -5px;
}
.author-info .role{
	font-size: 12px;
	font-weight: 100;
	color: #333;
	background-color: unset;
}
.dsc-status span{
	font-size: 14px;
}
.discussion-info{
	margin-top: 20px;
	
	font-size: 14.5px;
}
.similar-dsc,.trending-dsc{
	background: white;
    padding: 20px;
    border: 1px solid #c6c6c6;
}
.replies{
	margin: 20px 0;
    background: white;
    padding: 20px 10px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
}
.reply-text{
	font-size: 14px;
}
.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
    padding: 2px 10px !important;
    border-radius: 2px !important;
}
.similar-dsc ul,.trending-dsc ul{
	list-style: none;
    padding: 0;
    margin: 0;
}
.similar-dsc ul li,.trending-dsc ul li{
	margin:10px 0;
	padding:0  10px;
}
.similar-dsc ul  li a,.trending-dsc ul  li a{
	color:#0da4dd  !important;
	font-size: 14px;
	font-weight: 500;
}
.similar-dsc ul  li a:hover,.trending-dsc ul  li a:hover{
	color:#333 !important;
	text-decoration: underline !important;
}
.similar-dsc ul  li span,.trending-dsc ul  li span{
	font-size: 12.5px;
}
.filter{
	height: 50px;
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}
.ml-10{
    margin-left: 10% !important;
}
@media only screen and (max-width: 425px){
.ml-10{
    margin-left: 0% !important;
}
}